{% set afi = salt['grains.filter_by']({
  'Debian': {
    'afipackages': [ 'afi', ],
    'afiservice': 'apache2',
    'afiservicemanage': True,
    'aficonfdir': '/etc/afi',
    'afipackagesipxeroms': [ 'ipxe-bootimgs', ],
    'afiipxesymlink': '/var/lib/tftpboot/undionly.kpxe',
    'afiipxesymlinktarget': '/usr/share/ipxe/undionly.kpxe',
  },
  'RedHat': {
    'afipackages': [ 'afi', ],
    'afiservice': 'httpd',
    'afiservicemanage': True,
    'aficonfdir': '/etc/afi',
    'afipackagesipxeroms': [ 'ipxe-bootimgs', ],
    'afiipxesymlink': '/var/lib/tftpboot/undionly.kpxe',
    'afiipxesymlinktarget': '/usr/share/ipxe/undionly.kpxe',
  },
  'default': {
    'afipackages': [ 'afi', ],
    'afiservice': 'httpd',
    'afiservicemanage': True,
    'aficonfdir': '/etc/afi',
    'afipackagesipxeroms': [ 'ipxe-bootimgs', ],
    'afiipxesymlink': '/var/lib/tftpboot/undionly.kpxe',
    'afiipxesymlinktarget': '/usr/share/ipxe/undionly.kpxe',
  },
}, merge=salt['pillar.get']('afi:lookup')) %}
